* {
    margin: 0;
    padding: 0;
}
body {    
    width: 100%;
    height: 100%;
    background-image: url("./img/table.png");
    background-size: cover;    
}
.header {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}
.header p {
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
}
.header h3 {
    color: white;
}
img {
    width: 120px;
}
.start  {
    margin: auto;
    text-align: center;
}
.start a{
    border: 2px solid red;
    border-radius: 5px;
    background-color: red;
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.status {
    text-align: center;
}
.status p {
    margin-top: 20px;
    color: white;
    font-weight: bold;
}
.area {
    position: absolute;
    margin-bottom: 30px;
    left: 50%;
    transform: translate(-50%);
}
.area2 {
    position: absolute;
    margin-bottom: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
.dice1 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
}
.dice2 {
    text-align: center;
}